{% load static %}
<!-- Footer Section Begin -->
<footer class="footer set-bg" data-setbg="{% static 'assets/img/footer-bg.jpg' %}">
    <div class="container">
        <div class="footer__contact">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__contact__title">
                        <h2>Contact Us Now!</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__contact__option">
                        <div class="option__item"><i class="fa fa-phone"></i> (+254) 700 123 456</div>
                        <div class="option__item email"><i class="fa fa-envelope-o"></i> info@carsoko.com</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="{% url 'homepage' %}"><img src="{% static 'assets/img/carsoko-footer-logo.png' %}" alt="CarSoko"></a>
                    </div>
                    <p>Looking for your dream car? Visit us at our showroom in Nairobi or contact us on (+254) 700 123 456. CarSoko - Your trusted partner in finding the perfect vehicle.</p>
                    <div class="footer__social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="footer__widget">
                    <h5>Services</h5>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Car Sales</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Car Rental</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Financing</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="footer__widget">
                    <h5>Categories</h5>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer__brand">
                    <h5>Popular Brands</h5>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Toyota</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Nissan</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Mazda</a></li>
                    </ul>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Mercedes</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Volkswagen</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright__text">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> CarSoko. All rights reserved | Developed  by <a href="https://kencomsoftwares.com" target="_blank">Kencom Softwares Ltd</a></p>
        </div>
    </div>
</footer>
<!-- Footer Section End -->